<h1 align="center">Editing Object Owner</h1>

<%= render 'form', object_owner: @object_owner %>

<%= link_to "View", @object_owner, class: "btn btn-success-outline" %>
<%= link_to "Back", object_owners_path, class: "btn btn-success-outline" %>
