# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 90ac450894d7985917f18bcd5824fcc41c9530c140f1da8582c56429117946267814eb36a7dc37510c1517f99949cf75f9df05a7dbee2fce7c49033223d05f5b
  vcenter_user: <%= ENV["RAILS_VCENTER_USER"] %>
  vcenter_pass: <%= ENV["RAILS_VCENTER_PASS"] %>
  vcenter_url: <%= ENV["RAILS_VCENTER_URL"] %>
  vcenter_name: <%= ENV["RAILS_VCENTER_NAME"] %>
  
test:
  secret_key_base: 787cd6c7f327057764909d82ab0fc01458ca376299840993d2457a1dbe9cf168ca24a41908582cca16f5817d95cd570d7ae4a6cbbca96d67d4ba147c8fa4caac

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  vcenter_user: <%= ENV["RAILS_VCENTER_USER"] %>
  vcenter_pass: <%= ENV["RAILS_VCENTER_PASS"] %>
  vcenter_url: <%= ENV["RAILS_VCENTER_URL"] %>
  vcenter_name: <%= ENV["RAILS_VCENTER_NAME"] %>


