<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>VM Name</th>
      <th>Power State</th>
    </tr>
  </thead>

	<tbody>
      <tr>
        <td><%= @flatdetails[1]["name"] %></td>
        <td>
          <% if @flatdetails[1]["power_state"] == "POWERED_ON" %>RUNNING<% end %>
          <% if @flatdetails[1]["power_state"] == "POWERED_OFF" %>OFF<% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          JSON RESULTS
        </td>
      </tr>
      <tr>
        <td colspan="2"><%= @p %></td>
      </tr>
      <tr>
        <td><%= link_to ('<button [clrLoading]="submitBtnState" type="submit" class="btn btn-success-outline" (click)="submitDemo()">Back to VMs</button>').html_safe, controller: "virtual_machines" %>
        </td>
      </tr>
  	</tbody>

    
</table>
