<h1>Editing Instance Reservation</h1>

<%= render 'form', instance_reservation: @instance_reservation %>

<%= link_to 'Show', @instance_reservation %> |
<%= link_to 'Back', instance_reservations_path %>
